.warna1 {
  background-color: #876445;
}

.warna2 {
  background-color: #ca965c;
}

.warna3 {
  background-color: #eec373;
}

.warna4 {
  background-color: #f4dfba;
}

.banner {
  height: 103vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/banner.png);
  background-size: cover;
  background-position: center;
}

.highlighted-kategori {
  height: 270px;
}

.kategori-baju-pria {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/pria.png);
  background-size: cover;
  background-position: center;
}

.kategori-baju-wanita {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/wanita.png);
  background-size: cover;
  background-position: center;
}

.kategori-sepatu {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/sepatu.png);
  background-size: cover;
  background-position: center;
}

.highlighted-kategori a {
  text-decoration: none;
  color: white;
}

.terlaris {
  font-family: "Times New Roman", Times, serif;
}

.text-harga {
  font-size: 22px;
  color: #ca965c;
}

.image-box {
  height: 250px;
}

.image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.content-subscribe {
  background-color: rgba(0, 0, 0, 0.8);
}

.content-subscribe a {
  color: white;
}

.banner-produk {
  height: 45vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/banner.png);
  background-size: cover;
  background-position: 50% 15%;
}

.list-group a {
  text-decoration: none;
  color: black;
}

.produk-terkait {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
